//body background and default color
$body-bg: #1d1d1d;
$body-color: #adafae;

//no borders
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

//default dark color, slightly brighter than bg
$dark: #282828;
$card-bg: $dark;

//
//colors
//
$primary: #226699;
$secondary: #18486d;
$danger: #c80000;

$alert-bg-level: 0;
$alert-border-level: -1;
//white?
$alert-color-level: -12;

$gray-100: hsl(0, 0, 98%);
$gray-200: hsl(0, 0%, 93%);
$gray-300: hsl(0, 0%, 89%);
$gray-400: hsl(0, 0%, 83%);
$gray-500: hsl(0, 0%, 71%);
$gray-600: hsl(0, 0%, 46%);
$gray-700: hsl(0, 0%, 31%);
$gray-800: hsl(0, 0%, 23%);
$gray-900: hsl(0, 0%, 16%);

$dropdown-color: white;
$dropdown-bg: $gray-900;
$dropdown-divider-bg: $gray-800;

$dropdown-link-color: white;
$dropdown-link-hover-color: darken(white, 5%);
$dropdown-link-hover-bg: $secondary;

$dropdown-border-radius: 0;
