@import "./var.scss";

// Override the variables or import a file that overrides them
$vt-color-default: $primary;
$vt-color-info: $info;
$vt-color-success: $success;
$vt-color-warning: $warning;
$vt-text-color-warning: rgb(0, 0, 0);
$vt-color-error: $danger;

$vt-toast-min-height: 10px;

$vt-font-family: $editorFont;

// Import the regular Vue Toastification stylesheets (or create your own)
@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

.Vue-Toastification__toast {
    padding: 5px 24px;
    padding-bottom: 7px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.Vue-Toastification__toast-body {
    font-size: $editorFontSize;
}

.Vue-Toastification__close-button:focus {
    outline: none;
}
